/** {
  border: 1px solid white;
}*/

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background: rgb(49, 73, 82);
  height: 100%;
}

h1, h2, h3 {
  font-family: "Century Gothic", serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.page-header {
  background: rgb(49, 73, 82);
  color: white;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(58, 146, 175);
}

.page-header:after {
  content: ' ';
  position: absolute;
  top: 0;
  width: 770px;
  height: 120px;
  z-index: 2;
  opacity: 0.3;
  background-image: url('../img/clouds.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
}

nav ul li{
  display: inline-flex;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: .175rem;
  padding-right: 20px;
}

nav ul li a {
  color: white;
  z-index: 3;
  padding: 5px 5px;
}

nav ul li a:hover{
  background-color: rgb(58, 146, 175);
  border-radius: 5px;
  padding: 5px 5px;
  text-decoration: none;
}

ul {
  margin: 0px auto;
  padding: 0;
}

ul li {
  list-style-type: none;
  padding: 5px 0px;
  line-height: 1.5rem;
  letter-spacing: .15rem;
}

a {
  text-decoration: none;
  color: rgb(58, 146, 175);
}

a:hover {
  color: white;
}

#pageTitle {
  font-size: 60px;
}

#profilePic {
  width: 100px;
  box-shadow: 5px 5px 5px #666;
  float: right;
  margin-top: 20px;
}

#page-description {
  padding: 10px 0;
  margin-bottom: 30px;
  letter-spacing: .125rem;
  line-height: 20px;
}
